*{
    box-sizing: border-box;
}

/* Hero Page Style start */
header{
    background-color: rgb(243, 216, 151);
    
    & .header-title{
        text-align: center;
        font-family:cursive;
        font-size: 25px;
    }

    & .butt{
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-top: 20px;
    }

    & .container-fluid{
        place-items: center;
    }

}

/* Hero Page Style end */



/* Screen Responsive start*/
@media (min-width: 300px) and (max-width: 767px) {
    header{
        & .butt {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
        }

        & .header-title{
            margin-top: 20px;   
            text-align: center;
            line-height: 30px;
            font-size: 20px;
        }

        & .image-fluid{
            width: 150px;
            height: auto;
            margin-left: 20px;
        }   
    }
}


@media (max-width: 768px) {
    header{
        & .butt {
            display: flex;
            justify-content: center;
            gap: 15px;
        }

        & .header-title{
            margin-top: 20px;   
            text-align: center;
            line-height: 30px;
            font-size: 20px;
        }

        & .image-fluid{
            width: 400px;
            height: auto;
            margin-left: 20px;
        }   
    }
}

@media (max-width:992px) and (max-width: 1199px){
    header{
        display: flex;
        margin: auto;
        & .butt {
            display: flex;
            justify-content: center;
            gap: 25px;
        }

        & .header-title{
            margin-top: 20px;
            text-align: center;
            line-height: 30px;
            font-size: 20px;
        }

        & .image-fluid{
            width: 400px;
            height: auto;
            margin-left: 30px;
        }      

    }
}
/* Screen Responsive end */

#course{
    & h2{
        font-family: fantasy;
    }
}


nav{
    & .btn:hover{
        background-color: rgb(255, 115, 0);
    }
}

