*{
    box-sizing: border-box;
}

.navbar{
    background-color: rgb(255, 165, 0);
    width: 100%;
    height: 80px;
    margin: auto;
}

nav{
    & .btn:hover{
        border: none;
        background-color: rgb(255, 115, 0);
    }
}

/* Hero Page Style start */
header{
    background-color: rgba(245, 228, 179, 0.996);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 520px;
    
    & .header-title{
        text-align: center;
        font-family:cursive;
        font-size: 25px;
    }

    & .butt{
        border: none;
        display: flex;

        justify-content: center;
        gap: 20px;
        margin-top: 20px;
    }

    & .container-fluid{
        place-items: center;
    }

}

/* Hero Page Style end */

/* slider style start */
section{
    position: relative;
    width: 100%;
    height: 250px;
}
.slider{
    position: absolute;
    width: 100%;
    height: 150px;
}

/* slider style end */

/* Cards start */
    #showCourse{
        border-radius: 40px;
        height: 800px;
        & .lesson{           
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2) ;
        }
        & .lesson:hover{
            transform: translateY(-0.8rem);
            transition: 0.5s ease-out ;
        }
    }
/* Cards end */

/* Guide Start */
    .guide{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        height: 450px;

        & .up{
            height: 20%;
            width: 100%;
        }
        & .up h2{
            font-size: 50px;
        }

        & .down{
            height: 80%;
            width: 100%;        
        }

        & .left{
            border-radius: 30px;
            width: 25%;
            height: 300px ;
            box-shadow:2px 5px 8px 0 rgba(0, 0, 0, 0.2) ;
        }

        & .left button{
            position: absolute;
            left: 40px;
            top:60px;
            padding: 15px 20px;
            border: none;
        }
        
        & .mid{
            border-radius: 30px;
            width: 25%;
            height: 300px ;
            box-shadow:2px 5px 8px 0 rgba(0, 0, 0, 0.2) ;
        }

        & .mid button{
            position: absolute;
            left: 40px;
            top:60px;
            padding: 15px 20px;
            border: none;
        }

        & .right{
            border-radius: 30px;
            width: 25%;
            height: 300px ;
            box-shadow:2px 5px 8px 0 rgba(0, 0, 0, 0.2) ;
        }

        & .right button{
            position: absolute;
            left: 40px;
            top:60px;
            padding: 15px 20px;
            border: none;
        }
        
        .arrow{
            font-size: 35px;
            color: rgb(255, 165, 0);
        }

        & .info{
            width: 90%;
            position: absolute;
            top: 200px;
            left: 20px;
        }

        & .left:hover{
            transform: translateY(-0.8rem);
            transition: 0.2s ease-out ;        
        }
        & .mid:hover{
            transform: translateY(-0.8rem);
            transition: 0.2s ease-out ;    
        }
        & .right:hover{
            transform: translateY(-0.8rem);
            transition: 0.2s ease-out ;    
        }
    }
/* Guide End */

/* Footer Start */

/* Footer End */

/* Screen Responsive start*/
@media (min-width: 350px) {
    header{
        & .butt {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }

        & .header-title{
            padding-top: 50px;
            text-align: center;
            line-height: 25px;
            font-size: 15px;
        }

        & .image-fluid{
            width: 240px;
            margin-left: 18%;
        }   
    }

    section {
            position: relative;
            width: 100%;
            height: 250px;
    }
    
    .slide{
            width: 100%;
            margin-top: 30px;
            height: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        
            & .slider{
                height: 80px;
                width: 100%;
                padding-bottom: 40px;
            }
        
            & .slider .item {
                & img {                
                    
                    padding: 10px 10px;
                    width: 70px;
                }
            }
        
            & h3 {
                font-size: 18px;
            }
    }


    #showCourse{
        background-color: rgba(87, 212, 175, 0.544);
        display: flex;
        height: 500px;
        justify-content: center;  
        align-items: center;
        border-radius: 40px;

        & .card{
            height: 450px;
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.57);
        }
        & .card:hover{
            transform: translateY(-0.8rem);
            transition: 0.5s ease-out ;
        }
    }


    .footer{
        padding-top: 20px;
        height: 1000px;
        margin: auto;
        background-color: rgb(255, 165, 0);
        border-top-left-radius: 15%;
        border-bottom-right-radius: 10%;
        box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        & h5{
            font-size: 18px;
        }

        & p{
            font-size: 14px;
        }

        & .in{
            margin-top: 10px;
        }

        & .row{
            margin: auto;
            width: 95%;
            background-color: rgba(255, 136, 0, 0.942);
            border-top-left-radius: 35%;
            border-bottom-right-radius: 25%;
        }

        & ul li a{
            text-decoration: none;
            color: black;
        }

        & ul li a:hover{
            text-decoration: underline;
            color: blue;
        }

        & ul li{
            list-style: none;

        }

        .form-control:hover{
            border: 1px solid blue;
            box-shadow: 0 0 5px rgba(81, 203, 238, 1);        
        }

        .btn:hover{
            background-color: rgb(255, 115, 0);
            border: none;
        }
    }
}

@media (min-width: 576px) {
    header{
        & .butt {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
        }

        & .header-title{
            margin-top: 20px;   
            text-align: center;
            line-height: 30px;
            font-size: 22px;
        }

        & .image-fluid{
            width: 200px;            
        }   
    }

    .slide{
        border-radius: 20px;
        margin: auto;
        margin-top: 30px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 90%;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center ;
        & .slider{
            height: 150px;
            width: 100%;
        }
        & .slider .item {
            & img{
                padding-top: 10px;
                width: 100px;
            }
        }

        & h3{
            font-size: 30px;
        }
    }
        
}


@media (min-width: 768px) {
    header{
        & .butt {
            display: flex;
            justify-content: center;
            gap: 15px;
        }

        & .header-title{
            margin-top: 20px;
            text-align: center;   
            line-height: 35px;
            font-size: 22px;
        }

        & .image-fluid{
            width: 400px;            
        }   
    }

    .slide{
        border-radius: 20px;
        margin: auto;
        margin-top: 30px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 90%;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center ;
        & .slider{
            height: 150px;
            width: 100%;
        }
        & .slider .item {
            & img{
                padding-top: 10px;
                width: 100px;
            }
        }

        & h3{
            font-size: 30px;
        }
    }

    .footer{
        padding-top: 20px;
        margin: auto;
        height: auto;
        background-color: rgb(255, 165, 0);
        border-top-left-radius: 15%;
        border-bottom-right-radius: 10%;
        box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        & h5{
            font-size: 18px;
        }

        & p{
            font-size: 14px;
        }

        & .in{
            margin-top: 30px;
        }

        & .row{
            margin: auto;
            width: 95%;
            background-color: rgba(255, 136, 0, 0.942);
            border-top-left-radius: 35%;
            border-bottom-right-radius: 20%;
        }

        & ul li a{
            text-decoration: none;
            color: black;
        }

        & ul li a:hover{
            text-decoration: underline;
            color: blue;
        }

        & ul li{
            list-style: none;

        }

        .form-control:hover{
            border: 1px solid blue;
            box-shadow: 0 0 5px rgba(81, 203, 238, 1);        
        }

        .btn:hover{
            background-color: rgb(255, 115, 0);
            border: none;
        }
    }
}


@media (min-width:992px) and (min-width:1200px){
    header{
        display: flex;
        margin: auto;
        justify-content: center;
        & .butt {
            display: flex;
            justify-content: center;   
        }

        & .header-title{
            margin-top: 20px;
            text-align: center;
            line-height: 40px;
            font-size: 25px;
        }


        & .image-fluid{
            margin-top: 25px;
            width: 500px;            
            margin-left: 30px;
        }      

    }

    .slide{
        border-radius: 20px;
        margin-top: 40px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 90%;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center ;
        & .slider{
            height: 1050px;
            width: 100%;            
        }
        & .slider .item {
            & img{
                margin-left: 60px;
                margin-top: 80px;
                width: 120px;
            }
        }

        & h3{
            font-size: 30px;
        }
    }
    
    
    .footer{
        padding-top: 20px;
        margin: auto;
        background-color: rgb(255, 165, 0);
        border-top-left-radius: 35%;
        border-bottom-right-radius: 25%;
        box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        & .row{
            margin: auto;
            width: 95%;
            background-color: rgb(255, 149, 0);
            border-top-left-radius: 35%;
            border-bottom-right-radius: 25%;
        }

        & ul li a{
            text-decoration: none;
            color: black;
        }

        & ul li a:hover{
            text-decoration: underline;
            color: blue;
        }

        & ul li{
            list-style: none;

        }

        .form-control:hover{
            border: 1px solid blue;
            box-shadow: 0 0 5px rgba(81, 203, 238, 1);        
        }

        .btn:hover{
            background-color: rgb(255, 115, 0);
            border: none;
        }
    }


}
/* Screen Responsive end */

#course{
    & h2{
        font-family: fantasy;
    }
}




/* Animations start*/

/* Animations end */