*{
    box-sizing: border-box;
}

.navbar{
    background-color: rgb(255, 165, 0);
    width: 100%;
    height: 80px;
    margin: auto;
}

nav{
    & .btn:hover{
        border: none;
        background-color: rgb(255, 115, 0);
    }
}

/* Hero Page Style start */
header{
    background-color: rgba(245, 228, 179, 0.996);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 520px;
    
    & .header-title{
        text-align: center;
        font-family:cursive;
        font-size: 25px;
    }

    & .butt{
        border: none;
        display: flex;

        justify-content: center;
        gap: 20px;
        margin-top: 20px;
    }

    & .container-fluid{
        place-items: center;
    }

}

/* Hero Page Style end */

/* slider style start */
section{
    position: relative;
    width: 100%;
    height: 250px;
}
.slider{
    position: absolute;
    width: 100%;
    height: 150px;
}

/* slider style end */

/* Cards start */

/* Cards end */

/* Footer Start */

/* Footer End */

/* Screen Responsive start*/
@media (min-width: 350px) {
    header{
        & .butt {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }

        & .header-title{
            padding-top: 50px;
            text-align: center;
            line-height: 25px;
            font-size: 15px;
        }

        & .image-fluid{
            width: 240px;
            margin-left: 18%;
        }   
    }

        section {
            position: relative;
            width: 100%;
            height: 250px;
        }
    
        .slide{
            width: 100%;
            height: 280px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        
            & .slider {
                height: 150px;
                width: 100%;
            }
        
            & .slider .item {
                & img {                       
                    padding: 10px 10px;
                    width: 80px;
                }
            }
        
            & h3 {
                font-size: 18px;
            }
        }
}

@media (min-width: 576px) {
    header{
        & .butt {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
        }

        & .header-title{
            margin-top: 20px;   
            text-align: center;
            line-height: 30px;
            font-size: 22px;
        }

        & .image-fluid{
            width: 200px;            
        }   
    }
        
}


@media (min-width: 768px) {
    header{
        & .butt {
            display: flex;
            justify-content: center;
            gap: 15px;
        }

        & .header-title{
            margin-top: 20px;
            text-align: center;   
            line-height: 35px;
            font-size: 22px;
        }

        & .image-fluid{
            width: 400px;            
        }   
    }

    .slide{
        border-radius: 20px;
        margin: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 90%;
        height: 280px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center ;
        & .slider{
            height: 150px;
            width: 100%;
        }
        & .slider .item {
            & img{
                padding-top: 10px;
                width: 100px;
            }
        }

        & h3{
            font-size: 30px;
        }
    }
}

@media (min-width:992px) and (min-width:1200px){
    header{
        display: flex;
        margin: auto;
        justify-content: center;
        & .butt {
            display: flex;
            justify-content: center;   
        }

        & .header-title{
            margin-top: 20px;
            text-align: center;
            line-height: 40px;
            font-size: 25px;
        }


        & .image-fluid{
            margin-top: 25px;
            width: 500px;            
            margin-left: 30px;
        }      

    }

    .slide{
        border-radius: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 90%;
        height: 300px;
        display: flex;
        margin: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center ;
        & .slider{
            height: 150px;
            width: 100%;            
        }
        & .slider .item {
            & img{
                margin-left: 60px;
                margin-top: 10px;          
                width: 130px;
            }
        }

        & h3{
            font-size: 30px;
        }
    }
    
    
    .footer{
        margin: auto;
        background-color: rgb(255, 165, 0);
        width: 100%;
        border-top-left-radius: 35%;

        & .row{
            margin: auto;
            width: 80%;
        }

        & ul li a{
            text-decoration: none;
            color: black;
        }

        & ul li a:hover{
            text-decoration: underline;
            color: blue;
        }

        & ul li{
            list-style: none;

        }

        .form-control:hover{
            border: 1px solid blue;
            box-shadow: 0 0 5px rgba(81, 203, 238, 1);        
        }

        .btn:hover{
            background-color: rgb(255, 115, 0);
            border: none;
        }
    }


}
/* Screen Responsive end */

#course{
    & h2{
        font-family: fantasy;
    }
}




/* Animations start*/

/* Animations end */