

#nav1{
    width: 100%;
    height: 60%;
}

#nav2{
    width: 100%;
    height: 40%;
}

.container-fluid{        

    & input{        
        width: 200px;
        height: 40px;
        border-radius: 15px;
        border: 1px solid black;
    }

    & input:hover{
        background-color: whitesmoke;
    }

    & button{
        padding: 8px 15px;
        color: white;
    }
}

.logo{
    padding-left: 50px;
    
    & img{
        height: 80px;
        width: 80px;        
    }
}



main{
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}

.title{
    width: 100%;
    height: 500px;
    text-align: center;
    place-content: center;
    justify-content: center;
    align-items: center;
    background-color: chocolate;
    display: flex;


    .left{
        align-content: center;
        width: 35%;
        height: 100%;
    }

    .right{
        width: 60%;
        height: 100%;
        

        & img{
            object-fit: cover;
            height: 450px;
            clip-path: ellipse(49% 50% at 50% 50%);
        }
    }

}


footer{
    height: 400px;
    width: 100%;
    background-color: aqua;
}