*{
    box-sizing: border-box;
}

.navbar{
    background-color: rgb(255, 165, 0);
    width: 100%;
    height: 80px;
    margin: auto;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

/* Hero Page Style start */
header{
    background-color: rgba(255, 254, 251, 0.811);
    height: 520px;
    
    & .header-title{
        text-align: center;
        font-family:cursive;
        font-size: 25px;
    }

    & .butt{
        border: none;
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-top: 20px;
    }

    & .container-fluid{
        place-items: center;
    }

}

/* Hero Page Style end */

/* slider style start */
section{
    position: relative;
    width: 100%;
    height: 250px;
}
.slider{
    position: absolute;
    width: 100%;
    height: 150px;
}

/* slider style end */

/* Cards start */
.card-course{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* Cards end */

/* Screen Responsive start*/
@media (min-width: 350px) {
    header{
        & .butt {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }

        & .header-title{
            padding-top: 50px;
            text-align: center;
            line-height: 25px;
            font-size: 15px;
        }

        & .image-fluid{
            width: 240px;
            margin-left: 18%;
        }   
    }

        section {
            position: relative;
            width: 100%;
            height: 250px;
        }
    
        .slider {
            position: absolute;
            width: 100%;
            height: 100px;
        }
    
        .slider .item {
            padding: 10px 0px;
            width: 20%;
            text-align: center;
            & img{
                width: 20px;
            }
        }
}

@media (min-width: 576px) {
    header{
        & .butt {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
        }

        & .header-title{
            margin-top: 20px;   
            text-align: center;
            line-height: 30px;
            font-size: 20px;
        }

        & .image-fluid{
            width: 200px;            
        }   
    }
        
}


@media (min-width: 768px) {
    header{
        & .butt {
            display: flex;
            justify-content: center;
            gap: 15px;
        }

        & .header-title{
            margin-top: 20px;
            text-align: center;   
            line-height: 35px;
            font-size: 30px;
        }

        & .image-fluid{
            width: 400px;            
        }   
    }
}

@media (min-width:992px){
    header{
        display: flex;
        margin: auto;
        & .butt {
            display: flex;
            justify-content: center;
            gap: 25px;
        }

        & .header-title{
            margin-top: 20px;
            text-align: center;
            line-height: 30px;
            font-size: 25px;
        }

        & .image-fluid{
            width: 500px;            
            margin-left: 30px;
        }      

    }
}
/* Screen Responsive end */

#course{
    & h2{
        font-family: fantasy;
    }
}


nav{
    & .btn:hover{
        border: none;
        background-color: rgb(255, 115, 0);
    }
}

/* Animations start*/

/* Animations end */