*{
    box-sizing: border-box;
}

.navbar{
    background-color: rgb(255, 165, 0);    
    height: 80px;
}

nav{
    & .btn:hover{
        border: none;
        background-color: rgb(255, 115, 0);
    }
}


section{
    position: relative;
    width: 100%;
    height: 250px;
}
.slider{
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 150px;
}

header{
    margin-top: 40px;
    padding-bottom: 20px;
    background-color: rgba(245, 228, 179, 0.996);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: auto;
    
    & .header-title{
        text-align: center;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 45px;
    }

    & .row{        
        display: flex;
        justify-content:center;
        align-items: center;
    }
    
    & .image-fluid{        
        margin-left: 150px;
        width: 390px;
        height: 350px;
        border: 10px dashed gray;
    }

    & .container-fluid{        
        place-items: center;
    }

}


@media (min-width:350px){

    header {
            margin-top: 40px;
            padding-bottom: 20px;
            background-color: rgba(110, 110, 110, 0.996);
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            height: auto;
    
            & .header-title {
                text-align: center;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: 35px;
            }
    
    
            & .row {
                display: flex;
                justify-content: center;
                align-items: center;
            }
    
            & .image-fluid {
                margin-left: 35px;
                width: 280px;
                height: 270px;
                border: 10px dashed gray;
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
    
            & .container-fluid {
                place-items: center;
            }
    
    }

    .intro{
        height: auto;

        & .row{            
            display: flex;
            justify-content: center;
            align-items: center;
        }

        & .row .left{
            width: 50%;
            height: auto;            
        }

        & .row .left img{
            width: 100%;
            height: 160px;
            border-radius: 10%;
        }

        & .row .right{            
            width: 45%;
            height: 160px;            
        }   

        & .row .right h4{
            font-size: 8px;            
        }

        & .row .right h2{
            margin-top: -25px;
            font-size: 12px;
        }

        & .row .right h2 p{
            font-size: 12px;
            margin-top:3px;
        }

        & .row .right p{            
            font-size: 7px;
            margin-top: -30px;
        }

        & .btn{            
            margin-top: -70px;  
            width: 72px;
            height: 20px;
            font-size: 8px;
        }
    }



    section {
        position: relative;
        width: 100%;
        height: 250px;
    }
    
    .slide{
        border-radius: 20px;    
        margin: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 95%;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center ;        
        
        & .slider{            
            height: 100px;
            width: 100%;                          
        }
        & .slider .item {
            
            & img{
                margin-top: 10px;          
                width: 45px;
                margin-left: 10px;
            }
        }

        & h3{margin-top: 10px;
            font-size: 17px;
        }
    }

    .footer{
        padding-top: 20px;
        height: auto;
        margin: auto;
        background-color: rgb(255, 165, 0);
        border-top-left-radius: 15%;
        border-bottom-right-radius: 10%;
        box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        & h5{
            font-size: 18px;
        }

        & p{
            font-size: 14px;
        }

        & .in{
            margin-top: 10px;
        }

        & .row{
            margin: auto;
            width: 95%;
            background-color: rgba(255, 136, 0, 0.942);
            border-top-left-radius: 35%;
            border-bottom-right-radius: 25%;
        }

        & ul li a{
            text-decoration: none;
            color: black;
        }

        & ul li a:hover{
            text-decoration: underline;
            color: blue;
        }

        & ul li{
            list-style: none;

        }

        .form-control:hover{
            border: 1px solid blue;
            box-shadow: 0 0 5px rgba(81, 203, 238, 1);        
        }

        .btn:hover{
            background-color: rgb(255, 115, 0);
            border: none;
        }
    }
}

@media (min-width:768px){

     header {
            margin-top: 40px;
            padding-bottom: 20px;
            background-color: rgba(110, 110, 110, 0.996);
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            height: auto;
    
            & .header-title {
                text-align: center;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: 45px;
            }
    
    
            & .row {
                display: flex;
                justify-content: center;
                align-items: center;
            }
    
            & .image-fluid {
                margin-left: -10px;
                width: 390px;
                height: 350px;
                border: 10px dashed gray;
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
    
            & .container-fluid {
                place-items: center;
            }
    
    }

    .intro{
        height: auto;

        & .row{            
            display: flex;
            justify-content: center;
            align-items: center;
        }

        & .row .left{
            width: 50%;
            height: auto;            
        }

        & .row .left img{
            width: 100%;
            height: 300px;
            border-radius: 10%;
        }

        & .row .right{
            margin-top: -100px;
            margin-left: 20px;
            width: 45%;
            height: 200px;            
        }

        & .row .right h4{
            font-size: 15px;            
        }

        & .row .right h2{
            font-size: 20px;
        }

        & .row .right h2 p{
            font-size: 20px;
        }

        & .row .right p{
            font-size: 12px;
        }

        & .btn{
            margin-top: -40px;
            width: 100px;
            height: 30px;
            font-size: 12px;
        }
    }


    .slide{
        border-radius: 20px;
        margin: auto;        
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 90%;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center ;

        & .slider{
            height: 120px;
            width: 100%;            
        }
        & .slider .item {            
            & img{                
                margin-top: 5px;
                width: 70px;
            }
        }

        & h3{      
            margin-top: -13px;  
            font-size: 34px;    
            width: auto;        
        }
    }


    .footer{
        padding-top: 20px;
        margin: auto;
        height: auto;
        background-color: rgb(255, 165, 0);
        border-top-left-radius: 15%;
        border-bottom-right-radius: 10%;
        box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        & h5{
            font-size: 18px;
        }

        & p{
            font-size: 14px;
        }

        & .in{
            margin-top: 30px;
        }

        & .row{
            margin: auto;
            width: 95%;
            background-color: rgba(255, 136, 0, 0.942);
            border-top-left-radius: 35%;
            border-bottom-right-radius: 20%;
        }

        & ul li a{
            text-decoration: none;
            color: black;
        }

        & ul li a:hover{
            text-decoration: underline;
            color: blue;
        }

        & ul li{
            list-style: none;

        }

        .form-control:hover{
            border: 1px solid blue;
            box-shadow: 0 0 5px rgba(81, 203, 238, 1);        
        }

        .btn:hover{
            background-color: rgb(255, 115, 0);
            border: none;
        }
    }
}

@media (min-width:992px) and (min-width:1200px){

    header {
            margin-top: 40px;
            padding-bottom: 20px;
            background-color: rgba(110, 110, 110, 0.996);
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            height: auto;
    
            & .header-title {
                text-align: center;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: 45px;
            }
    
    
            & .row {
                display: flex;
                justify-content: center;
                align-items: center;
            }
    
            & .image-fluid {
                margin-left: 150px;
                width: 390px;
                height: 350px;
                border: 10px dashed gray;
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
    
            & .container-fluid {
                place-items: center;
            }
    
    }

    .intro{
        height: auto;

        & .row{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        & .row .left{
            width: 40%;
            height: auto;            
        }

        & .row .left img{
            width: 100%;
            height: 400px;
            border-radius: 10%;
        }

        & .row .right{
            margin-top: 30px;
            margin-left: 20px;
            width: 40%;
            height: 400px;            
        }

        & .row .right h4{
            font-size: 20px;            
        }

        & .row .right h2{
            font-size: 30px;
        }

        & .row .right h2 p{
            font-size: 30px;
        }

        & .row .right p{
            font-size: 18px;
        }

        & .btn{
            margin-top: -20px;
            width: 120px;
            height: 45px;
            font-size: 16px;
        }
                
    }

    .slide{
        border-radius: 30px;    
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 90%;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center ;
        padding-bottom: 20px;

        & h3{            
            padding-bottom: 10px;            
        }
        & .slider{                  
            margin-top: 10px; 
            height: 180px;
            width: 100%;    
            padding-bottom: 10px;        
        }
        & .slider .item {
            & img{
                padding-bottom: 50px;
                margin-left: 60px;                                                
                width: 110px;
            }
        }

        & h3{
            font-size: 40px;
        }
    }



    .footer{               
        padding-top: 20px;
        margin: auto;
        background-color: rgb(255, 165, 0);
        border-top-left-radius: 35%;
        border-bottom-right-radius: 25%;
        box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        & .row{
            margin: auto;
            width: 95%;
            background-color: rgb(255, 149, 0);
            border-top-left-radius: 35%;
            border-bottom-right-radius: 25%;
        }

        & ul li a{
            text-decoration: none;
            color: black;
        }

        & ul li a:hover{
            text-decoration: none;
            color: green;
        }

        & ul li{
            list-style: none;

        }

        .form-control:hover{
            border: 2px solid green;
            box-shadow: 0 0 5px rgba(81, 203, 238, 1);        
        }

        .btn:hover{
            background-color: rgb(255, 115, 0);
            border: none;
            border: 2px solid green;
        }
    }
}