@media (min-width:350px){
    .footer{
        padding-top: 20px;
        height: auto;
        margin: auto;
        background-color: rgb(255, 165, 0);
        border-top-left-radius: 15%;
        border-bottom-right-radius: 10%;
        box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        & h5{
            font-size: 18px;
        }

        & p{
            font-size: 14px;
        }

        & .in{
            margin-top: 10px;
        }

        & .row{
            margin: auto;
            width: 95%;
            background-color: rgba(255, 136, 0, 0.942);
            border-top-left-radius: 35%;
            border-bottom-right-radius: 25%;
        }

        & ul li a{
            text-decoration: none;
            color: black;
        }

        & ul li a:hover{
            text-decoration: underline;
            color: blue;
        }

        & ul li{
            list-style: none;

        }

        .form-control:hover{
            border: 1px solid blue;
            box-shadow: 0 0 5px rgba(81, 203, 238, 1);        
        }

        .btn:hover{
            background-color: rgb(255, 115, 0);
            border: none;
        }
    }
}

@media (min-width:768px){
    .footer{
        padding-top: 20px;
        margin: auto;
        height: auto;
        background-color: rgb(255, 165, 0);
        border-top-left-radius: 15%;
        border-bottom-right-radius: 10%;
        box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        & h5{
            font-size: 18px;
        }

        & p{
            font-size: 14px;
        }

        & .in{
            margin-top: 30px;
        }

        & .row{
            margin: auto;
            width: 95%;
            background-color: rgba(255, 136, 0, 0.942);
            border-top-left-radius: 35%;
            border-bottom-right-radius: 20%;
        }

        & ul li a{
            text-decoration: none;
            color: black;
        }

        & ul li a:hover{
            text-decoration: underline;
            color: blue;
        }

        & ul li{
            list-style: none;

        }

        .form-control:hover{
            border: 1px solid blue;
            box-shadow: 0 0 5px rgba(81, 203, 238, 1);        
        }

        .btn:hover{
            background-color: rgb(255, 115, 0);
            border: none;
        }
    }
}

@media (min-width:992px)and(min-width:1200px){
    .footer{               
        padding-top: 20px;
        margin: auto;
        background-color: rgb(255, 165, 0);
        border-top-left-radius: 35%;
        border-bottom-right-radius: 25%;
        box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        & .row{
            margin: auto;
            width: 95%;
            background-color: rgb(255, 149, 0);
            border-top-left-radius: 35%;
            border-bottom-right-radius: 25%;
        }

        & ul li a{
            text-decoration: none;
            color: black;
        }

        & ul li a:hover{
            text-decoration: none;
            color: green;
        }

        & ul li{
            list-style: none;

        }

        .form-control:hover{
            border: 2px solid green;
            box-shadow: 0 0 5px rgba(81, 203, 238, 1);        
        }

        .btn:hover{
            background-color: rgb(255, 115, 0);
            border: none;
            border: 2px solid green;
        }
    }
}